#root {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}


@media (max-width: 400px) {
  /* mobile styles */
   #root {
  margin: 0;
  padding: 0;
  width: 402px;
  text-align: center;
}
}
@media (min-width:481px) and (max-width:1024px){
  #root {
  margin: 0;
  padding: 0;
  width: 1124px;
  text-align: center;
}
}

