
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  color-scheme: only dark; 
  background-color: rgba(36, 14, 16);
}

body {
  min-height: 100vh;
  background-color:rgba(36, 14, 16); 
  color: #e5e7eb;
}

